{%extends 'base.html' %}
{%block title%}Anasayfa{%endblock%}

{%block content%}

<div class="contaniner pt-5">
    <div class="d-flex" my-3>
        {%if not me %}
        <a class="btn btn-primary" href="/login">Giriş Yap</a>
        <a class="btn btn-secondary mx-3" href="/register">Kaydol</a>
        {%else%}
        <a class="btn btn-primary" href="/create">Hayalini Yaz</a>
        <a class="btn btn-danger mx-3" href="/logout">Çıkış Yap</a>
        {%endif%}
    </div>

    {%for d in dreams%}
    <div class="card" mb-3>
      <div class="card-header">
        {{d.dreamer}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{d.quote}}</h5>
        <p class="card-text">{{d.dream}}</p>
        <a href="#" class="btn btn-primary">Detayını Gör</a>
      </div>
    </div>
    {%endfor%}
    
</div>
{%endblock%}